<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
 <head th:replace="components/layout::site-head"></head>
<body>
<header th:replace="components/layout::site-header"></header>

	<div class="container">
		<h1>Welcome to this basic blog page!</h1>
		<!-- dynamic context injection -->
		Current Date/Time: <b th:text="${execInfo.now.time}"></b>
	</div>
	<aside>
			<h2>Recent Posts</h2>
			<a href="#" th:each="p: ${latest5posts}" th:text="${p.title}" the:hred="@{/posts/view/{id}/(id=${p.id})}">Work Begins</a>
		</aside>
	
	 <main id="posts">
		<article th:each="p : ${latest3posts}">
			<h2 class="title" th:text="${p.title}">Post Title</h2>
			<div class="date">
				<i>Posted on</i>
				<span th:text="${#dates.format(p.date, 'dd-MM-yyyy')}">7-August-2022</span>
				<span th:if="${p.author}" th:remove="tag"></span>
				<i>by</i>
				<span th:text="${p.author.fullName != null ? 
				p.author.fullName : p.author.username}">Admin</span>
				
			</div>
			<p class="content" th:utext="${p.body}">PostContent</p>
		</article>
		
		
	</main>
	
	
	 <footer th:replace="components/layout::site-footer"></footer>
</body>
</html>